* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

@font-face {
    font-family: "spring";
    src: url(./assets/fuentes/Fontspring-DEMO-allroundgothic-medium.otf);
}

@font-face {
    font-family: "flavor";
    src: url(./assets/fuentes/Flavor_sans.otf);
}


body{
    background-image: linear-gradient(90deg, #3e32a8, #e310c7);
}

#logo{
    width: 600px;
    
}

.bg-body-tertiary{
    --bs-bg-opacity: none !important;
    
}

nav{
    margin-left: 20px;
    margin-right: 20px;
}

.nav-link{
    font-size: 25px !important;
    font-weight: 500 !important;
    color: white !important;
    padding: 30px !important;
}

.dropdown-menu{
    font-size: 20px !important;
    text-align: center !important;
    width: 350px !important;
    background-color: #e99fe4 !important;
    --bs-dropdown-link-hover-bg: #e310c7 !important;
    --bs-dropdown-link-active-bg: #b521a6 !important;
}

.dropdown-item{
    font-weight: 500 !important;
    color: rgb(253, 228, 228) !important;

}

.tituloIdioma{
    font-family: "spring";
    font-size: 40px;
    color: white;
    font-weight: bold;
}

.lemaIdioma{
    font-size: 30px;
    color: white;
    font-weight: 200;
}

.form-control{
    width: 300px !important;
}

.btnInicio{
    background-color: #0D6EFD;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

.nav-pills .nav-link.active{
    height: 90px !important;
}


/* POP UP LOG IN */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 9999;
    display: none; 
}

.center button{
    padding: 10px 20px;
    font-family: var(--bs-body-font-family);
    font-size: 15px;
    font-weight: 600;
    color: white;
    background: #0D6EFD;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.popUp{
    position:absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 600px;
    height: 450px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
    z-index: 10000;
}

.popUp.active{
    top: 350%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 20ms,
                transform 200ms ease-in-out 0ms;
}

.popUp .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background: #888;
    color: #eee;
    font-size: 30px;
    text-align: center;
    line-height: 23px;
    border-radius: 15px;
    cursor: pointer;
}

.popUp .form h2{
    text-align: center;
    color: #222;
    margin: 10px 0px 20px;
    font-size: 35px;
}

.popUp .form .form-element{
    margin: 15px 0px;
}

.popUp .form .form-element label{
    font-size: 20px;
    color: #222;
}

.popUp .form .form-element input[type="text"],
.popUp .form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popUp .form .form-element input[type="checkbox"] {
    margin-right: 20px;
}

.popUp .form .form-element button{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 20px;
    background: #e310c7;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;
}

.popUp .form .form-element a{
    display: block;
    text-align: right;
    font-size: 20px;
    color: #1a79ca;
    text-decoration: none;
    font-weight: 600;
}

#labelRec{
    font-size: 15px;
}

/* CONTACTO */
.tituloContacto{
    margin-top: 60px;
    font-family: "flavor";
    font-size: 40px;
}

.textoFotoContac{
    font-size: 80px;
    color:#811d77;
    font-family: "flavor";
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#formContacto{
    background-color: white;
    align-items: center;
    align-self: center;
    border: #e105cb solid 5px;
    box-shadow: 3px 4px 6px 8px rgba(23, 2, 58, 0.15);
}

.form-control, .selecIdioma, .btn{
    margin-left: 20px;
}

.btnContacto{
    padding: 10px 20px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    background: #0D6EFD !important;
}

.mapaContacto{
    width: 30% !important;
    margin-right: 40px !important;
}

.imgContacto{
    margin-left: 40px !important;
}